<style>
div.col-xs-4 {
	border: 1px solid red;
	width: 33.3%;
}
</style>

<div class="container">
	<div class="row">
		<div class="col-xs-4 text-center">Read Later</div>
		<div class="col-xs-4 text-center">Article</div>
		<div class="col-xs-4 text-center">To Read</div>
	</div>
</div>